@import './fonts.css';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.dashboard {
  font-family: 'TT Norms';
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
  display: flex;
}
.sidebar {
  width: 290px;
  height: 100%;
  box-shadow: 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 14.0351px 0px 25px rgba(86, 128, 248, 0.03);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sidebar__top-avatar {
  width: 100%;
  padding: 80px 80px 0px 80px;
  margin-bottom: 10px;
}
.sidebar__top-avatar-name {
  font-family: TT Norms;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #0D1C2E;
}
.sidebar__middle {
  flex-grow: 1;
}
